#contactdiv{
     background-color: #E3B7A0;
     padding-bottom: 30px;
}

#mail{
     width: 30%;
     margin: auto;
     margin-left: 42%;
}

#submitbtn{
     width: 60%;
     height: 30px;
     margin-top: 20px;
     background-color: black;
     color: white;
     cursor: pointer;
}

#submitbtn:hover{
     background-color:#E3B7A0;
     color: rgb(0, 0, 0);
}

.input{
     background-color: #E3B7A0;
     outline: none;
     border: none;
     border-bottom: 1px solid black;
}

#techstack-icon{
     margin: auto;
     margin-top: 10px;
     width: 10%;
     /* padding-top: 13px; */
     padding-bottom: 30px;
     /* border: 3px solid black; */
}

#techstack-icon i{
     margin-left: 10%;
}

#techstack-icon~p{
     margin-left:43%;
     /* padding-bottom: 5px; */
}
